RewriteEngine On
Options -Indexes

#OCULTAR EXTENSION
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^tour/(.+)/(.+)/(.+)$ info-tour.php?tour=$3
RewriteRule ^experiencias/(.+)/(.+)$ list-experiences.php?categoria=$2



#ErrorDocument 404 enlace...